*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  margin: 0rem;
  background-color: #fff;
  box-shadow: 20px 20px 60px #d9d9d9,
  -20px -20px 60px #ffffff;;
  font-family: 'Tourney', cursive;
}

/*banner section*/

.main-banner-section {
  min-height: 100vh;
  width: 100%;
  position: relative;
  background-image: url("./img/bg-3.png");
  background-size: cover;
  padding: 90px 0px 100px;
  background-position:left  ;
  box-shadow: 20px 20px 60px #d9d9d9,
  -20px -20px 60px #ffffff;;
}


.heading-primary-main {
  display: block;
  font-size: 60px;
  font-weight: 400;
  letter-spacing: 35px;
  animation: moveInRight 1s ease-out;
  
}


@keyframes moveInRight {
0% {
 opacity: 0;
 transform: translateX(100%);
}

80% {
 transform: translateX(-10px);
}

100% {
 opacity: 1;
 transform: translate(0);
}
}



.btn:link,
.btn:visited {
text-transform: uppercase;
text-decoration: none;
padding: 15px;
display: inline-block;
border-radius: 100px;
transition: all .2s;
position: relative;
}

.btn:hover {
transform: translateY(-3px);
box-shadow: 0 10px 20px rgba(169, 196, 163, 0.2);
}

.btn:active {
 transform: translateY(-1px);
 box-shadow: 0 5px 10px rgba(128, 187, 113, 0.2);
}

.btn-white {
background-color: rgb(233, 236, 229);
color: #777;
}

.btn::after {
content: "";
display: inline-block;
height: 100%;
width: 100%;
position: absolute;
top: 0;
left: 0;
border-radius: 100px;
z-index: -1;
transition: all .4s ;
}

.btn:hover::after {
transform: scaleX(1.4) scaleY(1.6);
opacity: 0;
}

.main-banner-section .text p {
  color: rgb(232, 240, 240);
  text-align: justify;
  font-size: 24px;
  font-family: 'Special Elite', cursive;
}

p, .text {
  text-align: justify;
  animation: moveInRight 1s ease-out;
}

.sec-title.light .title, .sec-title.light h2 {
  color: rgb(228, 238, 238);
  animation: moveInRight 1.3s ease-out;
}

label{
  color: rgb(238, 226, 226);
  font-family: 'Special Elite', cursive;
  font-size: 20px;
}

.field {
  color: rgb(146, 134, 134);
  font-family: 'Special Elite', cursive;
  width: 35vw;
 height: 50px;
 border-radius: 15px;
 outline: none;
}

 .radio {
    width:  35px;
    color: #ffffff;
}

.copyright {
  color: #aaa;
  font-size: 1rem;
  letter-spacing: 0.2rem;
  font-weight: 300;
  text-align: center;
padding-top: 0;
}

input{
  font-size: 28px;
  text-align: center;
}

/*End of  banner section*/


@media (max-width: 600px) {

  html {
    font-size: 59.5%;
  }


  .heading-primary-main {
    font-size: 2.7rem;
    font-weight: 900;
  }

 }

